# Ignorar arquivos e diretórios específicos do Django
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.log

# Ignorar diretórios específicos
node_modules/
__pycache__

# Arquivos específicos
*.DS_Store

# Dependências Python (pode variar dependendo das ferramentas que você usa)
venv/
env/

# Dependências geradas
lib/
bin/
include/
python*.egg-info/

# Arquivos de log
*.log

# Ignorar arquivos de configuração local
settings/local.py

# Ambiente virtual (se você estiver usando venv)
venv/

test_scraper_quotes.py
*.json
*.xlsx
.env-prod