<!-- Modal -->
<div class="modal fade" id="refresh-data" tabindex="-1" aria-labelledby="refresh-dataLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="refresh-dataLabel">Atualizar dados via Scraping</h5>
            <button type="button" class="btn btn-danger rounded-circle" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <form action="" method="post">
            <div class="modal-body">
                <p>Os dados serão atualizados em segundo plano, continuar?</p>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" id="btn-update-data" class="btn btn-primary">Atualizar</button>
            </div>
        </form>
        </div>
    </div>
</div>


<script>
    // PRE-PROCESSAMENTO DAS INFORMACOES ====================================================================
  $(document).off('click', '#btn-update-data').on('click', '#btn-update-data', function (event) {
      event.preventDefault();
      $("#loading").show(); // mostra a animação de loading
      
      var url = $(this).data('url');
      var formData = $('form').serialize();

      $.ajax({
          url: "{% url 'data_scrapy:create_data' %}",
          type: 'POST',
          data: formData,
          headers: {
              'X-CSRFToken': "{{ csrf_token }}"
          },
          success: function (data, status, xhr) {
              $("#loading").hide();
              $('#refresh-data').modal('hide');
              $('#refresh-data').hide();
      
              console.log(data)
              
              showToast('success', data.message);
              
          },
          error: function (data) {
              $("#loading").hide();
              showToast('error', 'Ocorreu um erro ao salvar os dados.',);
          }
      });
  });

 </script>