{% extends 'base.html' %}

{% block body %}
    {% csrf_token %}

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-data-body">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <!-- Your table content here -->
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <buttontype="button" class="btn btn-primary">Understood</button>
        </div>
        </div>
    </div>
</div>

<button id="openModalButton" type="button">Abrir Modal</button>

<script>
   $(document).ready(function() {
    $('#openModalButton').on('click', function () {
        $("#loading").show();
        // AJAX request to get the data
        $.ajax({
            url: "{% url 'data_scrapy:quotes_dataframe' %}",  // Replace with the actual URL to your Django view
            type: 'POST',
            dataType: 'json',
            headers: {
              'X-CSRFToken': "{{ csrf_token }}"
          },
            success: function (data) {
                $("#loading").hide();
                $('#staticBackdrop').modal('show');
                if (data.dataframe) {
                    // Generate the HTML for the table
                    var tableHTML = '<table class="table table-bordered" width="100%" cellspacing="0"><thead><tr>';
                    for (var key in data.dataframe[0]) {
                        tableHTML += '<th>' + key + '</th>';
                    }
                    tableHTML += '</tr></thead><tbody>';

                    data.dataframe.forEach(function(row) {
                        tableHTML += '<tr>';
                        for (var key in row) {
                            tableHTML += '<td>' + row[key] + '</td>';
                        }
                        tableHTML += '</tr>';
                    });

                    tableHTML += '</tbody></table>';

                    // Update the modal's content
                    $('#modal-data-body').html(tableHTML);

                    showToast('success', 'Upload feito com sucesso');

                }
            },
            error: function (error) {
                $("#loading").hide();
                $('#staticBackdrop').modal('hide');
                showToast('error', 'Erro ao fazer upload : '+ error);


                // Handle errors if the AJAX request fails
            }
        });
    });
});


</script>


{% endblock body %}
