{% extends 'base.html' %}

{% load static %}


{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    
    <div class="d-sm-flex  justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Beemon Tech</h1>
        <a href="#" class="float-right d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Download</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Ultima atualização</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data_scrapy_lasted.created_date}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Quantidade de dados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data_scrapy_quantity}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Quantidade de atualização</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{notify_quantity}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Tarefas em andamento</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tasks_celery_quantity}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    
<div class="container-fluid">

    <div class="row"> 
        <div class="col-sm-1 mr-4">
            <h1 class="h3 mb-2 text-gray-800">Dados</h1>
        </div>
        <div class="col-sm">
            <button href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#refresh-data"><i class="fas fa-sync-alt fa-sm text-white-50"></i> Atualizar</button>
        </div>
    </div>
    <!-- Page Heading -->
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dados baixados via scraping</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% if data_scrapy %}
                        <thead>
                            <tr>
                                <th>Autor</th>
                                <th>Titulo</th>
                                <th>Nascimento</th>
                                <th>Localidade</th>
                                <th>Tags</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data_scrapy %}
                                <tr>
                                    <td><strong><a href="#" style="text-decoration: none;" data-toggle="modal" data-target="#data-detail-{{data.id}}">{{data.author}}</a></strong></td>
                                    <td>{{data.title|slice:":40"}}...</td>
                                    <td>{{data.born}}</td>
                                    <td>{{data.location}}</td>
                                    <td>{{data.tags}}</td>
                                    <td>{{data.description|slice:":80"}}...</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <h1 class="text-center">Não contém dados cadastrados</h1>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

</div>


{% include 'core/includes/modal-data-detail.html' %}
{% include 'core/includes/modal-refresh-data.html' %}

{% endblock body %}
<!-- /.container-fluid -->