{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>


 <!-- Page level plugins -->
 <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

 <!-- Page level custom scripts -->
 <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
 
 <script src="{% static 'js/alert-toast.js' %}"></script>

 <!-- MASK -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.7/imask.min.js"></script>



 <script>
    // PRE-PROCESSAMENTO DAS INFORMACOES ====================================================================
  $(document).off('click', '#btn-analyze').on('click', '#btn-analyze', function (event) {
      event.preventDefault();
      $("#loading").show(); // mostra a animação de loading
      
      var url = $(this).data('url');
      var formData = $('form').serialize();

      $.ajax({
          url: url,
          type: 'POST',
          data: formData,
          headers: {
              'X-CSRFToken': "{{ csrf_token }}"
          },
          success: function (data, status, xhr) {
              $("#loading").hide();
              $('#modal-update').modal('hide');
              $('#modal-update').hide();
              $('#mydiv').load(location.href + ' #mydiv');

              // Atualiza o texto
              $('#feeling').val(data.data.feeling).trigger('change');

              $('#type_of_quotes').val(data.data.type_of_quote);
              $('#name_in_title').val(data.data.name_in_title);
              $('#reach_weight').val(data.data.reach_weight);
              $('#weight_tier').val(data.data.weight_tier);
              $('#final_score').val(data.data.final_score);

              
              showToast('success', data.message);
              
          },
          error: function (data) {
              $("#loading").hide();
              showToast('error', 'Ocorreu um erro ao salvar os dados.',);
          }
      });
  });

 </script>

<script>
    // ATUALIZAR DINAMICAMENTE AS NOTIFICAÇÕES
    $(document).ready(function () {
      function updateNotification() {
        $.ajax({
          url: '{% url "get_notifications" %}',  // Defina a URL correta para a view que retorna as notificações
          method: 'GET',
          dataType: 'json',
          success: function (data) {

            if (data.notifications.length > 0) {
                $('#notificationCount').html('+' + data.notifications.length);

              var notificationsHtml = '';
              $.each(data.notifications, function(index, notification) {

                notificationsHtml += '<a class="dropdown-item d-flex align-items-center" href="#">';
                notificationsHtml += '<div class="mr-3">';
                notificationsHtml += '<div class="icon-circle bg-primary">';
                notificationsHtml += '<i class="fas fa-file-alt text-white"></i>';
                notificationsHtml += '</div>';
                notificationsHtml += '</div>';
                notificationsHtml += '<div>';
                notificationsHtml += '<div class="small text-gray-500">' + notification.created_date + '</div>';
                notificationsHtml += '<span class="font-weight-bold">' + notification.title + '</span>';
                notificationsHtml += '</div>';
                notificationsHtml += '</a>';
              });
    
              $('#notificationDropdownMenu').html(notificationsHtml);
            } else {
              $('#notificationCount').html(0);
              $('#notificationDropdownMenu').html('<a class="dropdown-item d-flex align-items-center" href="#"><div class="mr-3"><div class="icon-circle bg-primary"> <i class="fas fa-file-alt text-white"></i></div></div><div><span class="font-weight-bold">Sem notificações</span></div></a>');
            }
          }
        });
      }
    
      updateNotification();
    
      setInterval(function () {
        updateNotification();
      }, 5000);
    });
    
    </script>


<script>
  // Apply a mask to the update_time field
  var updateTimeField = document.getElementById("id_update_time");
  var maskOptions = {
      mask: '00:00', // Define your mask pattern here
      lazy: true
  };
  var mask = new IMask(updateTimeField, maskOptions);
</script>