{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

 <!-- Page level plugins -->
 <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
 <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

 <!-- Page level custom scripts -->
 <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

 
 <script>
    // PRE-PROCESSAMENTO DAS INFORMACOES ====================================================================
  $(document).off('click', '#btn-analyze').on('click', '#btn-analyze', function (event) {
      event.preventDefault();
      $("#loading").show(); // mostra a animação de loading
      
      var url = $(this).data('url');
      var formData = $('form').serialize();

      $.ajax({
          url: url,
          type: 'POST',
          data: formData,
          headers: {
              'X-CSRFToken': "{{ csrf_token }}"
          },
          success: function (data, status, xhr) {
              $("#loading").hide();
              $('#modal-update').modal('hide');
              $('#modal-update').hide();
              $('#mydiv').load(location.href + ' #mydiv');

              // Atualiza o texto
              $('#feeling').val(data.data.feeling).trigger('change');

              $('#type_of_quotes').val(data.data.type_of_quote);
              $('#name_in_title').val(data.data.name_in_title);
              $('#reach_weight').val(data.data.reach_weight);
              $('#weight_tier').val(data.data.weight_tier);
              $('#final_score').val(data.data.final_score);

              console.log(data.data.type_of_quote)
              
              showToast('success', data.message);
              
          },
          error: function (data) {
              $("#loading").hide();
              showToast('error', 'Ocorreu um erro ao salvar os dados.',);
          }
      });
  });

 </script>