{% load static %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Beemon</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Configurações
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link {% if not sidebar_config %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="{% if sidebar_config %}false{% endif %}" aria-controls="">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configurações</span>
        </a>
        <div id="collapseTwo" class="collapse {% if sidebar_config %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Config agendamento:</h6>
                <a class="collapse-item {% if active_schedule_view %}active{% endif %}" href="{% url 'data_scrapy:scheduling' %}">Agendamentos</a>
                <a class="collapse-item" id="view-log-button" href="#" >Logs</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <i class="fab fa-whatsapp mb-2" style="font-size:40px; color: rgb(15, 199, 15);"></i>
        <p class="text-center mb-3"><strong>Desenvolvedor Lucas Silva</strong></p>
        <a class="btn btn-success btn-sm" href="https://api.whatsapp.com/send?phone=5574981199190&text=Ol%C3%A1%20Lucas,%20tudo%20bem?" target="_blank">Whatsapp</a>
    </div>

</ul>
<!-- End of Sidebar -->